@media only screen and (max-width: 600px) {
    body {
        .container {
            width: 95% !important;
        }

    
        .blog {
            .b-image {
                background-position-y: 0;
            }

        }
    }

}

@media only screen and (max-width: 1024px) {
body{
    .banner {
        .carousel-inner {
            .carousel-item {

                height: 424px;


                img {
                    width: auto !important;
                }

                .home-content {
                    padding-top: 0px !important;
                }
            }
        }
    }
}
}