@media only screen and (max-width: 600px) {
    body {
        .container {
            width: 95% !important;
        }

        .banner {
            .carousel-inner {
                .carousel-item {
                    .home-content {
                        padding-top: 0;
                    }
                }
            }
        }

        .blog{
            .b-image{
                background-position-y: 0;
            }

        }
    }

}